body{
  background-image: url('/images/pexels1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}
.navbar{
  background-color: rgba(255,255,255,0.1);
  color: white;
}
.about-us{
  min-height: 70vh;
  align-items: center;
}
