body{
  background-image: url('/images/pexels1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  color: blanchedalmond;
}
.navbar{
  background-color: rgba(255,255,255,0.1);
  color: white;
}
a{
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap; }
a  hover {
    text-decoration: none; }

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; 
}
.h{
  text-align: center;
}
h1{
  color: blanchedalmond;
  font-weight: bolder;
  font-size: 50px;
}
h4{
  color: blanchedalmond
}
h5{
  color: blanchedalmond;
}
h3{
  color: blanchedalmond
}
h2{
  color: blanchedalmond;
}
p{
  color: blanchedalmond;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important; }
  img {
    vertical-align: middle;
    border-style: none; }

.ftco-about .one-half {
  width: 300%;
  padding: 30px 15px; 
  background-color: red;}
  @media (min-width: 768px) {
.ftco-about .one-half {
      padding: 5%;
      width: 50%; } }
.ftco-about .one-half.img {
    display: block; 
    background-repeat: no-repeat;}
    @media (max-width: 767.98px) {
.ftco-about .one-half.img {
        height: 600px; } }
