body{
  background-image: url('/images/pexels1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  color: whitesmoke;
  font-family: 'Josefin Slab', serif;
}
.navbar{
  background-color: red;
  color: white;
}
a{
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap; }
a  hover {
    text-decoration: none; }

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; 
}
#header {
   
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
   position: relative;
}

.banner h1 {
   border-top: 6px double bisque;
   border-bottom: 6px double bisque;
   animation: fromLeft;
   animation-duration: 4s;
   animation-delay: 1.125s;
   opacity: 0;
   animation-fill-mode: forwards;
}
@keyframes fromLeft {
   0%{
       transform: translateX(-100px);
       opacity: 0;
   }
   50%{
       transform: translateX(30px)
   }
   100%{
       transform: translateX(0);
       opacity: 1;
   }
}


@keyframes fromRight {
   0%{
       transform: translateX(100px);
       opacity: 0;
   }
   50%{
       transform: translateX(-30px)
   }
   100%{
       transform: translateX(0);
       opacity: 1;
   }
}
.header-link {
   display: inline-block;
   position: absolute;
   bottom: 0.555rem;
   left: 50%;
   background: bisque;
   border-radius: 10px;
   transition: all 2s ease;
   animation: fromBottom;
   animation-duration: 4s;
   animation-iteration-count: infinite;
}
@keyframes fromBottom {
   0%{
       transform: translateY(-10px);
   }
   50%{
       transform: translateY(10px);
   }
   100%{
       transform: translateY(-10px);
   }
}
.h{
  text-align: center;
}
h1{
  color: blanchedalmond;
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Righteous', cursive;
}
h4{
  color: whitesmoke;
  font-family: 'Josefin Slab', serif;
}
h5{
  color: whitesmoke;
  font-family: 'Righteous', cursive;
}
h3{
  color: whitesmoke;
  font-family: 'Josefin Slab', serif;
}
h2{
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Righteous', cursive;
}
p{
  color: whitesmoke;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
}
.arrow
{
  position: relative;
  left: 50%;
  top: 90%;
  margin-left:-20px;
  
}
.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-35px);
  }
  60% {
    transform: translateY(-20px);
  }
}
.mb-4,
.my-4 {
  color: gold;
  margin-bottom: 1.5rem !important; }
  img {
    vertical-align: middle;
    border-style: none; }

.ftco-about .one-half {
  width: 300%;
  padding: 30px 15px; 
  background-color: red;}
  @media (min-width: 768px) {
.ftco-about .one-half {
      padding: 5%;
      width: 50%; } }
.ftco-about .one-half.img {
    display: block; 
    background-repeat: no-repeat;}
    @media (max-width: 767.98px) {
.ftco-about .one-half.img {
        height: 600px; } }
.services-wrap {
         width: 100%;
    display: block; }
    @media (max-width: 991.98px) {
.services-wrap {
   margin-bottom: 30px; } }
.services-wrap .img, .services-wrap .text {
      width: 50%; }
 .services-wrap .img {
    display: block; }
.services-wrap .text {
    background: rgba(0, 0, 0, 0.5);
     position: relative; }
.services-wrap .text h3 {
   font-size: 20px; }
   .order h2{
    text-align: center;
  }
.order{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
}
  .order-overlay{
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 20px;
    padding-left: 6%;
  }
  .choice{
    display: none;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Josefin Slab', serif;
  }
  .deliver{
    display: none;
  }
  .delivery{
    display: none;
    padding-left: 10%;
    padding-right: 10%;
  }
  td,th{
    font-size: 20px;
    color: white;
  }
  .choice h2{
    color:orange;
    text-align: left;
  }
  #your-orders{
    color: white;
    font-size: 30px;
  }
  #contact{
    background-color: red;
  }
  #contact h2{
    text-align: center;
  }
  #contactdetails h2{
    text-align: left;
  }
  .footer{
    padding-top: 5%;
  }
  #addedprice{
    display: none;
  }
  #finalmessage{
    display: none;
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 28px;
  }
  #regards{
    text-align: center;
    color: whitesmoke;
  }
  #information{
    padding-top: 5%;
    font-size: 22px;
    padding-right: 8%;
    padding-left: 5%;
    color: #ffa500;
  }
  .controls-top h2{
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: bolder;
  }
  
  



